<%- include('partials/header') -%>
    <h2 class="heading"><span class="output">That's approximately</span><br><span class="answer"> <%= currency +" "+ output %></span></h2>
  </div>
  </body>
  </html>